@using StudentManagerMVC.Service;
@model StudentManagerMVC.Models.StudentSubjectScore

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Class.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class.Name)
            </dd>*@
        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>First Score</th>
                    <th>Second Score</th>
                    <th>Third Score</th>
                    <th>Final Score</th>

                </tr>

            </thead>
            <br />
            <tbody>
                @*@{
                        string subjectName = "";
                        List<int> scoreType1s;
                        List<int> scoreType2s;
                        List<int> scoreType3s;
                        double subjectScore;
                        foreach (var score in Model.Scores.ToList())
                        {
                            if (score.Subject.Name != subjectName)
                            {
                                subjectName = score.Subject.Name;
                            }
                            // ma gia
                            // neu subject moi khac subject cu:
                            // neu subject cu co gia tri=> viet html cho subject cu (tinh gia tri diem trung binh cac thu)
                            // neu subject cu khong co gia tri => khong viet html
                            // set gia tri subjectName moi va reset scoreTypeXs ve rong, dat gia tri moi
                            // neu la gia tri cuoi cung,

                        }

                    }*@
       
                @foreach (var subjectScore in Model.scoreCalculators)
                {
                    
                    string fSString = string.Join(",", subjectScore.firstScore.ToArray());
                    string sSString = string.Join(", ", subjectScore.secondScore.ToArray());
                    string tSString = string.Join(", ", subjectScore.thirdScore.ToArray());

    <tr>
            <td>
                @Html.TextBoxFor(m => subjectScore.subject.Name)
            </td>
            <td>
                @Html.TextBoxFor(m => fSString)
            </td>
            <td>
                @Html.TextBoxFor(m => sSString)
            </td>
            <td>
                @Html.TextBoxFor(m => tSString)
            </td>
            <td>
                @Html.TextBoxFor(m => subjectScore.finalScore)
            </td>
            <td>
                <input type="button" value="update" id="update" />
            </td>

    </tr>}

            </tbody>
        </table>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Students")
</p>
@*<p>

        @Html.ActionLink("Edit", "Edit", new { id = _std.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@


@section Scripts {
    @*@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
        @Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        $("#btnGetScore").click(function () {
            var id = $("#btnGetScore").data("studentId");
            $.ajax({
                url: "../GetStudentScore",
                type: "GET",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ "id": id }),
            });
        });
        function getScore() {
            $.ajax({
                url: "../Students/GetStudentScore",
                type: "GET",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringitfy({ "id": 1 }),
            });
        }

        $(document).ready(function () {
            $("#update").click(function () {
                var firstScore = $("fSString").val();
                var secondScore = $("sSString").val();
                var thirdScore = $("tSString").val();
              

                $.ajax({
                    type: "POST",
                    url: "../Student/Details",
                    data: $('#edit_info').serialize(),
                    success: function (data) {
                        if (flag == 1) {
                            window.location = "Index";
                        }
                        else {
                            alert("Error Occured");

                        }
                    }
                });
            });
        });




    </script>
}