@using StudentManagerMVC.Service;
@model StudentManagerMVC.Models.StudentSubjectScore

@{ ViewBag.Title = "Details"; }


<h2>Details</h2>
<!DOCTYPE html>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <table border="1" id="tblStudents" class="table">
            <style>
                .form-control {
                    column-span: all;
                    color: rebeccapurple;
                }
            </style>
            <thead>
                <tr>
                    <th class="col-lg-2">Subject</th>
                    <th class="col-lg-3">First Score</th>
                    <th class="col-lg-3">Second Score</th>
                    <th class="col-lg-3">Third Score</th>
                    <th class="col-lg-1">Final Score</th>

                </tr>

            </thead>

            <tbody>
                @foreach (var subjectScore in Model.scoreCalculators)
                {
                    <tr>
                        <td class="col-lg-2">
                            <span>@subjectScore.subject.Name</span>
                            @*@Html.EditorFor(m => subjectScore.subject.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                        </td>
                        <td class="firstScore">
                          
                                @Html.EditorFor(m => subjectScore.firstScore, new { htmlAttributes = new { @class = "form-control", style = "flex - direction: row;" } })
                        
                        </td>
                        <td class="secondScore">
                           
                                @Html.EditorFor(m => subjectScore.secondScore, new { htmlAttributes = new { @class = "form-control" } })
                            
                        </td>
                        <td class="thirdScore">
                           
                                @Html.EditorFor(m => subjectScore.thirdScore, new { htmlAttributes = new { @class = "form-control"} })
                            
                        </td>
                        <td class="col-lg-1">
                            <span>@subjectScore.finalScore</span>
                            
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="btnUpdate"  onclick="Update()">Update</button>
                            <script>
                                function Update() {
                                    var empObj = {
                                        /* Name: $('#Name').val(),*/
                                        firstScore: $('#firstScore').val(),
                                        secondScore: $('#secondScore').val(),
                                        thirdScore: $('#thirdScore').val(),
                                        finalScore: $('#finalScore').val()
                                    };
                                    $.ajax({
                                        url: "/Students/UpdateScore",
                                        data: JSON.stringify(empObj),
                                        type: "POST",
                                        contentType: "application/json;charset=utf-8",
                                        dataType: "json",
                                        success: function (result) {
                                            $('#firstScore').val("");
                                            $('#secondScore').val("");
                                            $('#thirdScore').val("");
                                            $('#finalScore').val("");
                                        },
                                        error: function (errormessage) {
                                            alert(errormessage.responseText);
                                        }
                                    });
                                }
                                
                            </script>
                        </td>
                    </tr>
                }

        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Students")
</p>

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>*@
@section scripts{
    <script>
        $(document).ready(function () {
            Update();
        });

        function loadData() {
            $.ajax({
                url: "/Students/Details/",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, subjectScore) {
                        html += '<tr>';
                        html += '<td>' + subjectScore.firstScore + '</td>';
                        html += '<td>' + subjectScore.secondScore + '</td>';
                        html += '<td>' + subjectScore.thirdScore + '</td>';
                        html += '<td><a href="#" onclick="return getbyID(' + subjectScore.Id + ')">Edit</a> | <a href="#" onclick="Delele(' + subjectScore.Id + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        
        function Update() {         
            var empObj = {
               /* Name: $('#Name').val(),*/
                firstScore: $('#firstScore').val(),
                secondScore: $('#secondScore').val(),
                thirdScore: $('#thirdScore').val(),
                finalScore: $('#finalScore').val()

            };
            $.ajax({
                url: "/Students/Details",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $('#firstScore').val("");
                    $('#secondScore').val("");
                    $('#thirdScore').val("");
                    $('#finalScore').val("");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
                $("#btnUpdate").click(Update);
            });

            
    </script>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        //Remove the dummy row if data present.
        if ($("#tblStudents tr").length > 2) {
            $("#tblStudents tr:eq(1)").remove();
        } else {
            var row = $("#tblStudents tr:last-child");
            row.find(".Edit").hide();

        }
    });
    function AppendRow(row, firstScore, secondScore, thirdScore) {

        //Blind firstScore
        $(".firstScore", row).find("input").val(firstScore);

        //Blind secondScore
        $(".secondScore", row).find("input").val(secondScore);

        //Blind thirdScore
        $(".thirdScore", row).find("input").val(thirdScore);

        row.find(".Edit").show();
        $("#tblStudents").append(row);


        //Edit event handler.
        $("body").on("click", "#tblStudents .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            $(this).hide();
        });

        ////Update event handler.
        $("body").on("click", "#tblStudents .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var input = $(this).find("input");
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var student = {};
            student.firstScore = row.find(".firstScore").find("input").html();
            student.secondScore = row.find(".secondScore").find("input").html();
            student.thirdScore = row.find(".thirdScore").find("input").html();

            $.ajax({
                type: "POST",
                url: "/Students/Details",
                data: '{student:' + JSON.stringify(student) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });



    }
</script>
</body>*@
